<% include include/head.ejs %>

<body>
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
        </ul>

        <h1 class="mt-5">COVID19 API BLOCKCHAIN <i class="fas fa-head-side-mask"></i> <i class="fas fa-virus"></i></h1>
        <a class="github-button" href="https://github.com/ntkme/github-buttons" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Star ntkme/github-buttons on GitHub">Smart Contract</a>
           
        <div class="card">
            <div class="card-body">
                <a href="http://covid19.clementineos.it" target="_blank" class="btn btn-primary btn-lg btn-block">Go to COVID19 Monitor</a>
            </div>
        </div>

        <p class="lead">
            <h3>Link dei dati pubblici <span class="badge badge-secondary">GET</span></h3>      
            <span class="badge badge-info">csv</span>
            <span class="badge badge-info">json</span>
            <span class="badge badge-info">geojson</span>
            
            <pre>
            <code>
            
            GET api/v1/latlng?limit=-1
            GET api/v1/geojson?limit=-1
            GET api/v1/time?limit=-1
            GET api/v1/diff?limit=-1
            GET api/v1/csv/group?select=""&limit=-1
            GET api/v1/csv/list?select=""&limit=-1
        
            </code>
            </pre>
        </p>

    </div>
  </main>

  <% include include/footer.ejs %>
  <% include include/scripts.ejs %>

  </body>
</html>
