<% include include/head.ejs %>

<body>
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      
        <h1 class="mt-5"><%= title %></h1>

        <p class="lead">
            <h3>Confini territoriali <span class="badge badge-secondary">GET</span></h3>      
            <span class="badge badge-info">geojson</span>
            <pre>

            <code>

            GET /map/:state
        
              - :state='italy'
              - :state='italy_prov'
              - :state='italy_city'

            </code>
            </pre>
        </p>

        <p class="lead">
          <h3>Comuni italiani <span class="badge badge-secondary">POST</span></h3>      
          <span class="badge badge-info">geojson</span>
          <pre>

          <code>

          POST /map/IT/city
            
            {
              filters: ['Milano', 'Torino']
            }

          </code>
          </pre>
      </p>

    </div>
  </main>

  <% include include/footer.ejs %>
  <% include include/scripts.ejs %>
  <% include include/google_analytics.ejs %>

  </body>
</html>
