<footer class="footer mt-auto py-3">
    <div class="container">
        <center>
            <p>
                </span><img src="/img/eosio.png" width="64px" /></span>
            </p>
            <p>
                <span class="text-muted">by <a href="mailto:giuseppe.zileni@gmail.com" target="_blank">Giuseppe Zileni <i class="fas fa-envelope"></i></a></span>
            </p>
            <p>
                <a href="https://twitter.com/gzileni?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @gzileni</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
        </center>
    </div>
</footer>
